A new animal was created! Here are the details:

<ul>
  <li>Name: <%= @animal.name %></li>
  <li>Age: <%= @animal.age %></li>
  <li>Breed: <%= @animal.breed %></li>
  <li>Color: <%= @animal.color %></li>
</ul>
